.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #D1B4A7;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logoImage {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  
  .logo {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .authButtons {
    display: flex;
    gap: 20px;
  }
  
  .authButtons button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: 5px solid #edd8cf;
    background-color: #edd8cf;
    color: #7D6358;
    transition: transform 0.2s ease, opacity 0.2s;
  }
  
  .authButtons button:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
  
  .authButtons button:focus {
    box-shadow: 0 0 5px #7D6358;
  }
  
  .loginButton, .registerButton {
    border-radius: 20px;
  }