.tasks-page {
    padding: 20px;
  }
  
  .tasks-list {
    margin-bottom: 60px; /* Space for the add task button */
  }
  
  .task-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: transparent; /* Remove white background */
  }
  
  /* Additional styling for the tasks page */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .task-item p {
    margin: 5px 0;
  }
  
  .task-item strong {
    color: #555;
  }
  
  /* Styling for the add task button */
  .add-task-button {
    position: fixed;
    bottom: 20px;
  }
  
  /* Styling for the penalty buttons */
  .penalty-button {
    margin-right: 1px;
    padding: 8px 12px;
    border: none;
    border-radius: 0; /* Ensure this is set to 0 */
    cursor: pointer;
    background-color: #333; /* Darker background */
    color: white; /* White text */
  }
  
  .penalty-button.active {
    background-color: #646cff;
    color: white;
  }